KharkivJavaTask16/security.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="security">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="constraint">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="url-pattern"/>
                            <xs:element type="xs:string" name="role" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>